* {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 20px 5%;
}

#div-desaparece {
    text-align: center;
    display: grid;
    margin-top: 5%;
}

#div-aparece-forca {
    margin-left: 10%;
}

.botao1 {
    margin-bottom: 6%;
}

#btn:hover {
    cursor: pointer;
}

.btn-iniciar {
    font-size: 16px;
    font-weight: 400;
    background: #0A3871;
    border-radius: 24px;
    color: #fff;
    width: 317px;
    height: 105px;
    padding: 24px;
    gap: 8px;
}

.btn-novapalavra {
    font-size: 16px;
    font-weight: 400;
    width: 317px;
    height: 102px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;

}

.botoes-jogo {
    text-align: center;
}

.btnNovoJogo,
.btn-salvar,
.btn-começarjogo {
    background: #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F3F5FC;
}

.btn-desistir,
.btn-cancelar {
    background: #F3F5FC;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    border-color: #0A3871;
}

/* Div Nova Palavra */
#div-novaPalavra {
    margin-top: 5%;
}

.caixa-texto {
    margin: 6% 10%;
    display: grid;
}

.linha-aviso {
    margin-top: 50px;
}

.botoes-palavranova {
    text-align: center;
}

.input-text {
    padding: 12px;
    color: #0A3871;
    border: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 19px;
    resize: none;
}

footer {
    margin: 50px 0 0 0;
    text-align: center;
    padding: 30px 0;
}

footer p {
    font-size: 15px;
}

.links {
    position: relative;
    margin-top: 15px;
}

.links a {
    display: inline;
    margin: 0 12px;
}

@media screen and (max-width: 480px) {

    #div-aparece-forca {
        margin-left: -12%;
    }

    #forca {
        width: 450px;
    }

    .btnNovoJogo{
        margin: 0 0 10px 0;
    }

    .botoes-jogo{
        scale: 0.8;
    }

    .btn-salvar{
        margin: 10px 0 10px 0;
    }
}